= form_for(@part) do |f|
  = f.error_messages
  %p
    = f.label :desc, "Description"
    %br/
    = f.text_field :desc
  %p
    = f.label :serial, "Serial"
    %br/
    = f.text_field :serial
  %p
    = f.label :price, "Price"
    %br/
    = f.number_field :price, :min => 0
  %p
    = f.label :datev_id, "Datev_ID"
    %br/
    = f.number_field :datev_id, :min => 0
  = f.submit
