= form_for(@part) do |f|
  = f.error_messages
  .part.desc
    = f.label :desc, "Description"
    %br/
    = f.text_field :desc
  .part.serial
    = f.label :serial, "Serial"
    %br/
    = f.text_field :serial
  .part.price{:"align" => "left"}
    = f.label :price, "Price"
    %br/
    = f.number_field :price, :min => 0
  .part.datev_id
    = f.label :datev_id, "Datev_ID"
    %br/
    = f.number_field :datev_id, :min => 0
  = f.submit
