= form_for(@part) do |f|
  .part.desc
    = f.label :desc, "Description"
    %br/
    = f.text_field :desc
  .part.serial
    = f.label :serial, "Serial"
    %br/
    = f.text_field :serial
  .part.price
    = f.label :price, "Price"
    %br/
    = f.number_field :price, :min => 0
  .part.datev_id
    = f.label :datev_id, "Datev_ID"
    %br/
    = f.number_field :datev_id, :min => 0
  .form_buttons
    = f.submit "Revert", type: "reset", disabled: true, id: "jq_revert"
    -#= f.button "Cancel", type: 'button', onclick: "do_cancel()"
    = f.submit name: "cancel", value: "Cancel"
    = f.submit class: "bold"
= javascript_tag "focus_select('#part_desc'); cancel_path='#{part_path(@part)}';"
