<!DOCTYPE html>
<html title="huhu">
<head>
  <title><%= @title || "Inventar" %></title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "form_helper" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body class="theme"><div id="wrapper">
<div id="navigation">
  <div id="fincom">
    <%= link_to "financial.com AG", "http://financial.com" %>
  </div>
  <div id="inventar">
    <%= link_to "Inventar", root_path %>
  </div>
  <div id="tablinks">
    <div id="tabParts">
      <%= link_to "Parts", parts_path %>
    </div>
    <div id="tabPartDescs" >
      <%= link_to "Part Descriptions", part_descs_path %>
    </div>
  </div>
</div>
<div id="content">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class='flash' id='<%= key %>'>
        <%= value %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <%= yield %>
  </div>
</div>
<div id="footer">
  Impressum...
</div>
</div></body>
</html>
