<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Inventar" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table div="main">
  <tr>
    <td>financial.com AG<br/><h1>Inventar<h1/><td/>
  <tr/>
  <tr>
    <td>
      <% flash.each do |key, value| %>
        <div class='flash' id='<%= key %>'>
	 <%= value %>
	</div>
      <% end %>
    <td/>	
  <tr/>
  <tr>
    <td>
      <%= yield %>
    <td/>
  <tr/>
</body>
</html>
